table, th { 
    border: 1px solid;
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    border-color: black;
}
th {
    background-color: rgba(151, 86, 49, 0.452);
}

#keso_indulo_vonat  {
    background-color: rgb(255, 0, 0);
}
tbody tr:nth-child(even) {
    background-color: rgb(255, 255, 255)
}

tbody tr:nth-child(odd) {
    background-color: rgb(158, 151, 151);
}